<!-- templates/emails/welcome_email.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to iRentStuff.app!</title>
    <!-- Add your custom styles if needed -->
</head>
<body>
    <p><b>Welcome to iRentStuff.app, {{ user_name }}!</b></p>

    <p>We are thrilled to have you on board as a new member of our community. Thank you for choosing iRentStuff.app as your go-to platform for renting and sharing items.</p>

   <p>Your account registration is now complete, and you are all set to explore our platform's features. Whether you are looking to rent out items or find something unique for your needs, iRentStuff.app is here to make the renting experience seamless and enjoyable.</p>

   <p>Here are a few things you can do to get started:</p>

   <p>
        <ol>
            <li><b>Create Your First Listing:</b> If you have items to rent, go ahead and create your first listing. Share the details, set your terms, and start connecting with potential renters.</li>
            <li><b>Discover Items:</b> Browse through our diverse range of items available for rent. From tools and equipment to electronics and more, you're sure to find something that suits your needs.</li>
            <li><b>Connect with the Community:</b> Engage with other users, ask questions, and build connections within our community. iRentStuff.app is not just a platform; it's a community of individuals sharing and renting items.</li>
            <li><b>Stay Updated:</b> Keep an eye on our latest updates, promotions, and new features. We are continuously working to enhance your experience on iRentStuff.app.</li>
        </ol>
    </p>

    <p>If you ever have questions or need assistance, our support team is here to help. Feel free to reach out to admin@iRentStuff.app.</p>
    <p>Once again, thank you for choosing iRentStuff.app. We look forward to being a part of your renting journey!</p>
    <p>Happy Renting!</p>

    <p>Best regards,<br>
    The iRentStuff.app Team</p>
</body>
</html>