{% extends 'irentstuffapp/base.html' %}
{% block content %}

<center>
    <h2 class="p-3">User Preferences</h2>
</center>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>1. Please select your favourite categories for rental? (Max 3)</p>
                <form method="post" action="" onsubmit="return check()">
                    {% csrf_token %}
                    {% for category in categories %}
                        <input type="checkbox" id="category{{ forloop.counter }}" name="category" value="{{ category.id }}"
                            {% if existing_user_interests and category in existing_user_interests.interest.categories.all %}
                                checked
                            {% endif %}
                        >
                        <label for="category{{ forloop.counter }}"> {{ category }} </label><br>
                    {% endfor %}
                    <br>
                    <div>
                        <label for="item_cd_crit">2.Items created in past x days (max 7):</label>
                        <input type="number" id="item_cd_crit" name="item_cd_crit" min="1" step="1" required
                            {% if existing_user_interests %}
                                value="{{ existing_user_interests.interest.item_cd_crit }}"
                            {% endif %}
                        >
                    </div>
                    <br>
                    <input type="hidden" id="selected_categories" name="selected_categories" value="">
                    <div id="error_message" style="color: red;"></div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>


<script> 
    function check() {
        var selectedCheckboxes = document.querySelectorAll('input[type="checkbox"]:checked');
        var selectCount = selectedCheckboxes.length;
        var selectedCategoriesInput = document.getElementById('selected_categories');
        var errorMessage = document.getElementById('error_message');
        var itemCdCrit = document.getElementById('item_cd_crit').value;

        if (selectCount > 3) {
            errorMessage.innerText = 'Please select only three categories.';

            return false; // Prevent form submission
        } else if(itemCdCrit > 7){
            errorMessage.innerText = 'Please enter a value between 1-7.';
            return false;
        } else {
            errorMessage.innerText = ''; 
            selectedCategoriesInput.value = Array.from(selectedCheckboxes).map(cb => cb.value).join(',');
            return true;
            // Allow form submission
        }
    }
</script>


{% endblock %}