{% extends 'irentstuffapp/base.html' %}

{% block content %}

<center>
    <h1 class="p-4">Edit {{ item.title }}</h1>
</center>

<form class="shadow-sm bg-light col-11 col-sm-8 mx-auto card p-3 b-0" method="post"
    action="{% url 'edit_item' item_id=item.id %}" enctype="multipart/form-data">

    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {% if field.name == 'description' %}
        <div> 
            <textarea class="form-control {% if field.errors %}is-invalid{% endif %}" id="{{ field.id_for_label }}"
            name="{{ field.html_name }}" rows="6">{% if field.value %}{{ field.value }}{% else %}{{ '' }}{% endif %}</textarea>
        </div>
        {% elif field.name == 'festive_discounts' %}
        <label for="id_festive_discounts">(this will automatically include your item in sitewide festive discounts between 5-10% on purchase prices during festive holidays)</label>
        <div class="form-group">
            <input type="checkbox" id="{{ field.id_for_label }}" name="{{ field.html_name }}"
            {% if field.value == True %} checked {% endif %}>
        </div>
        {% elif field.field.widget.input_type == 'select' and field.name != 'image'  %}
        <div>
            <select class="form-control select-arrow {% if field.errors %}is-invalid{% endif %}"
            id="{{ field.id_for_label }}" name="{{ field.html_name }}">
            {% for choice in field.field.choices %}
            <option value="{{ choice.0 }}" {% if choice.0|lower == field.value|lower %}selected{% endif %}>{{ choice.1 }}</option>
            {% endfor %}
        </select>
        </div>
        {% elif field.name == 'image' %}
        <div>
            {% if item.image %}
            <p>Currently: <a href="{{ item.image.url }}" target="_blank">{{ item.image.name }}</a></p>
            {% endif %}
            <p> Change: <input type="file" class="form-control-file {% if field.errors %}is-invalid{% endif %}"
                name="{{ field.html_name }}" id="{{ field.id_for_label }}" accept="image/*"> </p>
        </div>
        {% elif field.name == 'deposit' %}
        <label for="{{ field.id_for_label }}">/ Purchase price</label>
        <textarea class="form-control {% if field.errors %}is-invalid{% endif %}" id="{{ field.id_for_label }}" rows="1" name="{{ field.html_name }}"
            style="overflow:hidden">{% if field.value %}{{ field.value }}{% else %}{{ '' }}{% endif %}</textarea>
        {% elif field.name == 'discount_percentage' %}
        <div>
        <textarea class="form-control {% if field.errors %}is-invalid{% endif %}" id="{{ field.id_for_label }}" rows="1"
            name="{{ field.html_name }}">{% if field.value %}{{ field.value }}{% else %}{{ 0 }}{% endif %}</textarea>
        </div>
        {% else %}
        <div>
        <textarea class="form-control {% if field.errors %}is-invalid{% endif %}" id="{{ field.id_for_label }}" rows="1"
            name="{{ field.html_name }}">{% if field.value %}{{ field.value }}{% else %}{{ '' }}{% endif %}</textarea>
        </div>
        {% endif %}
        {% for error in field.errors %}
        <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
    {% endfor %}
    <button class="btn btn-primary col-md-3 my-4" type="submit">Save Changes</button>
</form>

<style>
    textarea {
        resize: none;
    }
    .select-arrow {
        -webkit-appearance: menulist-button;
        -moz-appearance: menulist-button;
        appearance: menulist-button;
    }
</style>

{% endblock %}
