{% extends 'irentstuffapp/base.html' %}

{% block content %}
<button class="tablink" onclick="openPage('{% url 'home' %}')" id="defaultOpen">Home</button>
<button class="tablink" onclick="openPage('{% url 'fav_categories' %}')">Favourite Categories</button>
<button class="tablink" onclick="openPage('{% url 'deals' %}')">Items on Discount</button>
<button class="tablink" onclick="openPage('{% url 'new_items' %}')">New Items</button>

<div class="row p-2 w-98 m-0">
{% for item in items %}

  <div class="itm col-xl-2 col-md-3 col-sm-6 p-2">
    <div class="itm p-2">
    <a href="{% url 'item_detail' item_id=item.id %}">
      
        <div class="card card-common h-100 hover-shadow">
          <div class="card-body py-1">
        <div class="card-text small"><strong>{{item.owner}}</strong></div>
      </div>
        {% if item.image != "" %}
        <img src="/media/{{ item.image }}" class="card-img-top img-fluid object-fit-cover " />


        {% endif %}
        <div class="card-body pb-0">
          <h6 class="card-title small">{{item.title|truncatechars:65}}</h6>
          
        </div>
        <div class="card-footer border-0 bg-white pt-0 pb-4">
          <div class="card-text pb-2">
            <div class="small">Rental Price (per day):</div>
            {% if item.discount_percentage > 0 %}
            <div class="fs-4">
              <s>${{ item.price_per_day }}</s> 
              <span style="font-size: 1em; color:red; ">${{ item.discounted_price|floatformat:2 }}</span>
              <span style="font-size: 0.8em; font-style: italic; color:red; "> after {{ item.discount_percentage }}% off</span>
            </div>
            {% else %}
            <div class="fs-5">${{ item.price_per_day }}</div>
            {% endif %}
          </div>
          <div class="card-text">
            <div class="small">Buy Price:</div>
            <div class="fs-6">${{ item.deposit }}</div>
          </div>

        </div>

      </div>
    </a>
    </div>
  </div>

  {% endfor %}
</div>
<style>

  body, html {
    height: 100%;
    margin: 0;
  }

  .tablink {
    background-color: #3240ff;
    color: white;
    float: left;
    border: none;
    outline-style: solid;
    outline-color: white;
    outline-width: medium;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 14px;
    width: 25%;
  }
    
  /* Change background color of tab on hover */
  .tablink:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the tab content (may not use) */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 100%;
  }
  </style>
    <script>
      function openPage(url) {
          window.location.href = url;
      }

  </script>
{% endblock %}