{% extends 'irentstuffapp/base.html' %} {% block content %}

<center>
  <h1 class="p-4">Add Stuff</h1>
</center>

<form class="shadow-sm bg-light col-11 col-sm-8 mx-auto card p-3 b-0" method="post" action="{% url 'add_item' %}"
  enctype="multipart/form-data">

  {% csrf_token %}
  {% for field in form %}
      <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
              <div class="text-danger">
                  {% for error in field.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% endif %}
      </div>
  {% endfor %}

  <button class="btn btn-primary col-md-3 my-4" type="submit">Add item</button>
</form>

{% endblock %}