{% extends 'irentstuffapp/base.html' %}

{% block content %}

{% if validlink %}

<center>
  <h1 class="p-4">Set a new password</h1>
</center>

<form class="col-11 col-sm-6 mx-auto card p-3 shadow-sm bg-light" method="post">

  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change password" class="btn btn-primary col-md-3 my-2">
</form>

{% else %}
<div class="col-11 col-sm-6 mx-auto card p-3 shadow-sm bg-light">
<p>The password reset link is invalid. Please request for a new password reset.
</p>
</div>
{% endif %}

{% endblock %}